/* FONTS LOAD SECTION */

@font-face { src: url("../fonts/OpenSans-ExtraBold.woff") format("woff"); font-family: "OpenSansEB"; font-weight: 600; font-style: bold; }
@font-face { src: url("../fonts/OpenSans-Bold.woff") format("woff"); font-family: "OpenSansB"; font-weight: 400; font-style: normal; }
@font-face { src: url("../fonts/OpenSans-SemiBold.woff") format("woff"); font-family: "OpenSansSB"; font-weight: 400; font-style: normal; }
@font-face { src: url("../fonts/MontserratAlternates-ExtraBold.woff") format("woff"); font-family: "MontserratAlternates"; font-weight: 400; font-style: italic; }
@font-face { src: url("../fonts/Comfortaa-Bold.woff") format("woff"); font-family: "Comfortaa"; font-weight: 700; font-style: normal; }
body
{
    background-color: #F0EFEF;
}

.bg-navbar
{
    background: linear-gradient(225.58deg, rgb(0, 37, 74) 0.047%,rgb(0, 88, 176) 99.953%);
}

.navbar-menu
{
    font-family: "OpenSansSB";
    color: #ffffff;
}
.search-bar
{
    border-radius: 10px;
    box-shadow: 6px 4px 10px 0px rgba(0, 0, 0, 0.15);
    background: rgb(231, 232, 232);
    height: 40px;
    width: 75%;
}

.recommend-div
{
    border-radius: 10px;
    background: linear-gradient(180.00deg, rgb(11, 201, 118),rgb(0, 37, 74) 100%);
    color: rgb(255, 255, 255);
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
    padding-bottom: 2vh;
}

.recommend-text
{
    font-family: "MontserratAlternates";
    font-size: 4em;
}

.recommend-button
{
    font-family: "OpenSansEB";
    border-radius: 10px;
    background: rgb(11, 201, 118);
    padding-top: 5vh;
    padding-bottom: 5vh;
    border: none;
    color: rgb(255, 255, 255);

}

.news-subtitle
{
    font-family: "MontserratAlternates";
    font-size: x-large;
    color: #00254A;
    text-align: center;
}

.news-div
{
    max-width: fit-content;
    font-family: "OpenSansEB"; 
    border-radius: 10px;
    background: rgb(235, 128, 6);
    color: rgb(255, 255, 255);
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: left;
    padding-top: 2vh;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-bottom: 2vh;
}

.news-img
{
    width: 100%;
}

.news-title
{
    font-size: large;
    padding-top: 1vh;
}

.news-text
{
    font-family: "OpenSansB"; 
    font-size: medium;
    padding-top: 1vh;
}

.entertainment-div
{
    height: 25vh;
    width: 100%;
    font-family: "OpenSansEB"; 
    border-radius: 10px;
    background: rgb(235, 128, 6);
    color: rgb(255, 255, 255);
    /* margin-left: 5vw;
    margin-right: 5vw; */
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-top: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vh;
}

.entertainment-img
{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    display: inline-block;
}

.entertainment-title
{
    font-size: large;
    padding-top: 1vh;
    text-wrap: pretty;
    word-wrap: break-word;
    overflow: hidden;
}

.entertainment-text
{
    height: 80%;
    font-family: "OpenSansB"; 
    font-size: medium;
    text-wrap: pretty;
    word-wrap: break-word;
    padding-top: 1vh;
    overflow: hidden;
}

.entertainment-text-block
{
    vertical-align: top;
    width: 45%;
    height: 100%;
    font-family: "OpenSansB"; 
    font-size: medium;
    display: inline-block;
    position: relative;
    margin-left: 1%;
    margin-right: 1%;
}

.entertainment-load-more-button
{
    margin-bottom: 2vh;
    border-radius: 10px;
    background:rgb(235, 128, 6);
    padding: auto;
    text-emphasis-color: white;
}

.park-div
{
    height: 25vh;
    width: 100%;
    font-family: "OpenSansEB"; 
    border-radius: 10px;
    background:rgb(11, 201, 118);
    color: rgb(255, 255, 255);
    /* margin-left: 5vw;
    margin-right: 5vw; */
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-top: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vh;
}

.park-img
{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    display: inline-block;
}

.park-title
{
    font-size: large;
    padding-top: 1vh;
    text-wrap: pretty;
    word-wrap: break-word;
    overflow: hidden;
}

.park-text
{
    height: 80%;
    font-family: "OpenSansB"; 
    font-size: medium;
    text-wrap: pretty;
    word-wrap: break-word;
    padding-top: 1vh;
    overflow: hidden;
}

.park-text-block
{
    vertical-align: top;
    width: 45%;
    height: 100%;
    font-family: "OpenSansB"; 
    font-size: medium;
    display: inline-block;
    position: relative;
    margin-left: 1%;
    margin-right: 1%;
}

.park-load-more-button
{
    margin-bottom: 2vh;
    border-radius: 10px;
    background: rgb(11, 201, 118);
    padding: auto;
    text-emphasis-color: white;
}

.restaurant-div
{
    height: 25vh;
    width: 100%;
    font-family: "OpenSansEB"; 
    border-radius: 10px;
    background: #00254A;
    color: rgb(255, 255, 255);
    /* margin-left: 5vw;
    margin-right: 5vw; */
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-top: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vh;
}

.restaurant-img
{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    display: inline-block;
}

.restaurant-title
{
    font-size: large;
    padding-top: 1vh;
    text-wrap: pretty;
    word-wrap: break-word;
    overflow: hidden;
}

.restaurant-text
{
    height: 80%;
    font-family: "OpenSansB"; 
    font-size: medium;
    text-wrap: pretty;
    word-wrap: break-word;
    padding-top: 1vh;
    overflow: hidden;
}

.restaurant-text-block
{
    vertical-align: top;
    width: 45%;
    height: 100%;
    font-family: "OpenSansB"; 
    font-size: medium;
    display: inline-block;
    position: relative;
    margin-left: 1%;
    margin-right: 1%;
}

.restaurant-load-more-button
{
    margin-bottom: 2vh;
    border-radius: 10px;
    background: rgb(0, 37, 74);
    padding: auto;
    text-emphasis-color: white;
}

.favorite-icon
{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 10px;
    right: 10px;
}

.objects-content
{
    width: 80vw;
    margin: 2vh auto;
    text-align: center;
}

.object-info-container
{
    font-family: "Comfortaa";
    font-size: large;
    text-align: left;
}

.object-info
{
    margin: 5px;
    /* white-space: nowrap; */
    overflow: hidden;
}

.object-attribute-icon
{
    max-width: 100%;
    min-width: 10px;
}

.object-info-logo
{
    width: 5%;
    margin-right: 5px;
    display: inline-block;
}

.object-info-text
{
    /* margin: 0 0 0 15px; */
    width: 90%;
    letter-spacing: 1px;
    display: inline-block;
    text-wrap: wrap;
}

.object-review-subtitle
{
    font-family: "MontserratAlternates";
    font-size: x-large;
    color: #00254A;
    margin: 5px 0;
}

.review-card
{
    width: 100%;
    height: 150px;
    font-family: "OpenSansEB"; 
    border-radius: 10px;
    background: #ffffff;
    color: rgb(0, 0, 0);
    box-shadow: 10px 5px 5px rgb(202, 202, 202);

    padding-top: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vh;

    margin-top: 10px;
}

.object-img
{
    width: 80vw; 
    height: 40vh; 
    max-width: 400px;
    object-fit: cover;
}

.object-button
{
    height: 50px;
    width: 100%;
    font-family: "OpenSansSB";
    font-size: large; 
    border-radius: 10px;
    border: 0px;
    background:rgb(0, 37, 74);
    color: rgb(255, 255, 255);
    margin: 5px 0;

}

.object-review-container
{
    text-align: left;
}

.review-star
{
    margin-right: 5px;
}

.review-star-checked
{
    color: #0BC976;
}

.modal-content
{
    border-radius: 10px;
    background: linear-gradient(180.00deg, rgb(11, 201, 118),rgb(0, 123, 192) 100%);
}

.form-text-header
{
    font-family: "MontserratAlternates";
    font-size: medium;
}
.scr-end-window-text
{
    font-family: "MontserratAlternates";
    font-size: medium;
}
.scr-end-window-button
{
    font-family: "MontserratAlternates";
    font-size: large;
}
.review-card-short
{
    height: 90px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}
.account-favourites
{
    display: flex;
    flex-direction: column;
}
.account-row
{
    display: flex;
    flex-direction: row;
}
.text-single-line
{
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow:hidden;
}